﻿@page
@model TicketingWebApp.Pages.CreateTicketModel
@{
}
<h1>Create Ticket</h1>
<form method="post">
        <div class="mb-3">
            <label class="form-label" asp-for="Model.Title">Title</label>
            <input type="text" asp-for="Model.Title" class="form-control" />
            <span asp-validation-for="Model.Title" class="text-danger"></span>
        </div>
        <div class=mb-3>
            <label class="form-label" asp-for="Model.Description">Description</label>
            <textarea type="text" asp-for="Model.Description" class="form-control">
            </textarea>
            <span asp-validation-for="Model.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
</form>