﻿@page
@model TicketingWebApp.Pages.EditTicketModel

@{
    ViewData["Title"] = "EditTicket";
}

<h1>Edit Ticket</h1>
<div class="row">
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ticket.Id" />
            <div class="form-group mb-3">
                @*<label asp-for="Ticket.CreatedByUserId" class="control-label"></label>*@
                <input asp-for="Ticket.CreatedByUserId" class="form-control" readonly hidden/>
                @*<span asp-validation-for="Ticket.CreatedByUserId" class="text-danger"></span>*@
            </div>
            <div class="form-group mb-3">
                <label asp-for="Ticket.Title" class="control-label"></label>
                <input asp-for="Ticket.Title" class="form-control" />
                <span asp-validation-for="Ticket.Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Ticket.Description" class="control-label"></label>
                <textarea asp-for="Ticket.Description" class="form-control"></textarea>
                <span asp-validation-for="Ticket.Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary btn-space" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./ViewTickets">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
