﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (signInManager.IsSignedIn(User))
    {
        <p>Welcome to my ticket tracking web application, feel free to <a asp-page="/CreateTicket">create a new ticket</a></p>
    }
    else
    {
        <p>Welcome to my ticket tracking web application, please <a asp-page="/Login">login</a> to continue</p>
    }
    <p>Created by Kyle Hamilton</p>
</div>
