﻿@page
@model TicketingWebApp.Pages.LoginModel
@{
}

<div class="container mt-5">
    <div class="row justify-content-center alignalign-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Login</h1>

            <form method="post">
                <div class="mb-3">
                    <label class="form-label" asp-for="Model.Username">Username</label>
                    <input type="text" asp-for="Model.Username" class="form-control"/>
                    <span asp-validation-for="Model.Username" class="text-danger"></span>
                </div>
                <div class=mb-3>
                    <label class="form-label" asp-for="Model.Password">Password</label>
                    <input type="password" asp-for="Model.Password" class="form-control" />
                    <span asp-validation-for="Model.Password" class="text-danger"></span>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" asp-for="Model.RememberMe" class="form-check-input" />
                    <label class="form-check-label" asp-for="Model.RememberMe">Remember Me?</label>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>