﻿@page
@model TicketingWebApp.Pages.TicketModel

@{
    ViewData["Title"] = "Ticket";
}

<div>
    <h1>Ticket</h1>
    <a class="btn btn-danger btn-space" asp-page="/TicketUnsafe" asp-route-id="@Model.Ticket.Id">View Unsafe</a>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.CreatedByUserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.CreatedByUserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Description)
        </dt>
        <dd class="col-sm-10" style="word-wrap: break-word">
            @Html.Raw(Html.Encode(Model.Ticket.Description))
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./EditTicket" asp-route-id="@Model.Ticket.Id">Edit</a> |
    <a asp-page="./ViewTickets">Back to List</a>
</div>
<hr />
<div class=mb-3>
    <h3>Comments</h3>
    @if (Model.TicketComments.Count() == 0)
    {
        <p>No comments yet</p>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>
                        User
                    </th>
                    <th>
                        Comment
                    </th>
                    <th>
                        Date
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var comment in Model.TicketComments)
                {
                    <tr>
                        <td width="20%">@comment.CreatedByUserName</td>
                        <td width="60%">@comment.Text</td>
                        <td width="20%">@comment.CreatedDateTime</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    @*<label class="form-label" asp-for="Model.Description">Description</label>
        <textarea type="text" asp-for="Model.Description" class="form-control">
        </textarea>
        <span asp-validation-for="Model.Description" class="text-danger"></span>*@
    <hr />
    <h5>Post Comment</h5>
    <form method="post">
        <div class="mb-3">
            <input type="text" asp-for="Model.TicketId" value="@Model.Ticket.Id" readonly hidden>
            <textarea width type="text" asp-for="Model.Text" class="form-control"></textarea>
            <span asp-validation-for="Model.Text" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-outline-primary btn-space">Post</button>
        </div>
    </form>
</div>
