﻿@page
@model TicketingWebApp.Pages.TicketUnsafeModel

@{
    ViewData["Title"] = "TicketUnsafe";
}

<div>
    <h1>Ticket</h1>
    <div class="p-3 mb-2 bg-danger text-white">Unsafe</div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.CreatedByUserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.CreatedByUserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Description)
        </dt>
        <dd class="col-sm-10" style="word-wrap: break-word">
            @Html.Raw(@Model.Ticket.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./ViewTickets">Back to List</a>
</div>
