﻿@page
@model TicketingWebApp.Pages.ViewTicketsModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
<div class="container p-3">
    <div class="row pt-4">
    </div>
</div>
<h2>Tickets</h2>
@{
}
@if (Model.tickets.Count() > 0)
{
    <table>
        <thead>
            <tr>
                <th>
                    Created By
                </th>
                <th>
                    Ticket Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Comments
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model.tickets)
            {
                <tr>
                    <td width="15%">@ticket.CreatedByUserName</td>
                    <td width="20%">@ticket.Title</td>
                    <td width="50%" style="word-break:break-all;">@Html.Raw(Html.Encode(ticket.Description))@*ticket.Description*@</td>
                    <td width="10%" style="text-align:center;">@ticket.TicketComments.Count()</td>
                    <td width="5%">
                        <a class="btn btn-outline-dark btn-space" asp-page="/Ticket" asp-route-id="@ticket.Id">View</a>
                    </td>
                    @if (UserManager.GetUserName(User) == "admin")
                    {
                        <td width="5%">
                            <a class="btn btn-outline-danger btn-space" asp-page="/DeleteTicket" asp-route-id="@ticket.Id">Delete</a>
                        </td>
                    }
@*                    <td width="5%">
                        <a class="btn btn-outline-danger btn-space" asp-page="/DeleteTicket" asp-route-id="@ticket.Id">Delete</a>
                    </td>*@
                    @*<td width="10%"><a class="btn btn-danger">Delete</a></td>*@
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No tickets created yet</p>
}